@import "~bootstrap/scss/bootstrap";

.submit {
    margin-top: 30px;
    padding-left: 5px;
}

.form-container {
    margin-left: 10px;
}

.food-items {
    margin-left: 4px;
}

#times {
    width:300px;
    margin-top:5px;
}

.error{
    width: 400px;
    padding-left: 20px;
    padding-top: 20px;

    p {
        color: #c0392b;
        font-size: 20px;

    }
}
